.header {
  background-color: #FFC107;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-main {
  height: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.header-title {
  font-size: 22px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin-right: 15px;
}

.link, .mobile-link {
  font-size: 19px;
  margin: 10px;
  text-decoration: none;
  color: #000000;
}

.link:hover, .mobile-link:hover {
  text-decoration: underline;
}

.logout, .mobile-logout {
  height: 40px;
  background-color: #333333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

.mobile-logout {
  background-color: #1C1C1C;
  font-size: 19px;
}

.burger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  color: #000000;
}

.mobile-nav {
  display: none;
  background-color: #1C1C1C;
  padding: 10px;
  flex-direction: column;
}

.mobile-link {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.mobile-logout {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.link.active, .mobile-link.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 911px) {
  .mobile-nav {
    display: none !important;
  }
}

@media (max-width: 910px) {
  .header-content {
    position: absolute;
  }

  .desktop-nav {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .language-selector {
    margin-left: auto;
  }

  .burger-button {
    margin-left: 10px;
  }

  .mobile-nav {
    position: absolute;
    right: 0;
  }

  .mobile-nav.open {
    display: flex;
  }
}

@media (max-width: 510px) {
  .header-content {
    position: static;
    flex: 1;
    justify-content: center;
  }
  
  .header-title {
    font-size: 20px;
    margin: 0;
  }

  .logo {
    height: 30px;
    margin-left: -10px;
  }
}