.language-select {
  height: 40px;
  background-color: #333333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 4px;
  box-sizing: border-box;
  }

.language-select:focus{
  outline: none;
  border-color: #FFC107;
}

@media (max-width: 510px) {
  .language-select {
    padding: 5px;
    margin: 0px;
    }
    
}