.movie-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.movie-form-container {
  background-color: #1C1C1C;
  border-radius: 8px;
  padding: 24px;
  max-width: 510px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-template-rows: auto;
  margin-top: 20px;
}

.movie-title {
  grid-column: span 2;
  color: #FFC107;
  text-align: center;
  margin-bottom: 20px;
}

.movie-input-label {
  color: #FFC107;
}

.movie-input,.movie-select,.movie-input-area {
  padding: 10px;
  height: 40px;
  background-color: #333;
  color: white;
  border: 1px solid #FFC107;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}
.movie-input-area {
  height: 100px;
}

.movie-select {
  height: 65px;
  scrollbar-color: #007bff #333;
  scrollbar-width: thin;
  overflow-y: scroll;
}

.movie-button-container {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.movie-button {
  background-color: #dda808;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.movie-input:focus,
.movie-input:active,
.movie-select:focus,
.movie-select:active,
.movie-input-area:focus,
.movie-input-area:active {
    outline: none;
    border-color: #FFC107;
}
@media screen and (max-width: 500px) {
  .movie-form {
    padding-top: 10px;
  }

  .movie-form-container {
    padding: 16px;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .movie-title {
    grid-column: span 1;
    margin-bottom: 10px;
  }

  .movie-button-container {
    grid-column: span 1;
    justify-content: center;
  }

  .movie-input {
    width: 100%;
  }
}