.password-change-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  background-color: #1C1C1C;
  color: #FFC107;
  border-radius: 8px;
  text-align: center;
  margin-top: 90px;
  padding: 40px;
  position: relative; 
}
.password-change-inputs-container {
  display: flex;
  flex-direction: column;
  text-align:left;
}

.password-change-input {
  padding: 10px;
  height: 40px;
  background-color: #333;
  color: white;
  border: 1px solid #FFC107;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  width: 80%;
  margin-bottom: 20px;
}
.password-change-input:focus,
.password-change-input:active {
    outline: none;
    border-color: #FFC107;
}

.password-change-button-container {
  display: flex;
  justify-content: flex-end;
}
.password-change-button {
  background-color: #dda808;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.toggle-visibility {
  background: none;
  color: #dda808; 
  border: none;
}